@import "~vue-material/dist/theme/engine";

@include md-register-theme("default", (
  primary: #3fffbe,
  accent: #ffff,
  theme: dark
));

@import "~vue-material/dist/theme/all";

.dash{
  background-image: url('../icons/dashboard.png');
  background-repeat: no-repeat;
  background-size: auto;
  width: 25px;
  height: 30px;
}

.colorcard{
  background:linear-gradient(135deg, #184e68 0%,#57ca85 100%);
  width: 32%;
}
.colorcard2{
  background:linear-gradient(135deg, #65799b 0%,#5e2563 100%);
  width: 32%;
}
.colorcard3{
  background:linear-gradient(135deg, #f02fc2 0%,#6094ea 100%);
  width: 32%;
}